@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.Board {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 75px 75px 75px 75px;
  grid-template-rows: 100px 100px 100px;
  width: fit-content;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  border: solid;
}

.card-selected {
  background-color: yellow;
}

.card-mark {
  width: 55px;
  /* prevent from users to select marks */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
