@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root {
  --grid-width: 75px;
  --grid-height: 100px;
  --grid-gap: 10px;
  --board-padding: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.header,
.footer {
  width: calc(
    var(--grid-width) * 4 + var(--grid-gap) * 3 + var(--board-padding) * 2
  );
  margin: auto;
  text-align: center;
}

.Board {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: var(--grid-width) var(--grid-width) var(--grid-width) var(
      --grid-width
    );
  grid-template-rows: var(--grid-height) var(--grid-height) var(--grid-height);
  width: fit-content;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: var(--board-padding);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  border: solid;
}

.card-selected {
  background-color: yellow;
}

.card-mark {
  width: 55px;
  /* prevent from users to select marks */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.btn {
  width: 100px;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
